default_language_version:
  python: python3
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      # Run the linter.
      - id: ruff
        args: ["--fix"]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.7.0
        args: [ "--line-length", "120", "--target-version", "py39"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    - id: codespell
      additional_dependencies:
      - tomli
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: [ "--maxkb=512" ]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending
        args: ["--fix=auto"]
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
        args: ["--unsafe"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [--config=pyproject.toml]
        exclude: ^(docs/conf.py|test/) # copy from pyproject.toml
        additional_dependencies:
         - tokenize-rt==3.2.0
         - types-python-dateutil==2.8.19.14
         - types-requests==2.31.0.10
         - types-pytz==2024.1.0.20240203
         - attrs==23.2.0
         - gymnasium==1.0.0
         - stable-baselines3==2.4.0
         - pygame==2.5.2
         - importlib-metadata==7.1.0
         - cryptography==41.0.5
         - keyboard==0.13.5
         - onnxruntime==1.19.0
         - matplotlib==3.7.5
         - python-dotenv==1.0.1
  - repo: https://github.com/python-poetry/poetry
    rev: 2.1.1
    hooks:
      -   id: poetry-check
      -   id: poetry-lock
